<h3>Rejestracja Wojownika</h3>
<form action="/warrior" method="post">
  <label for="">
    Imię <br>
    <input type="text" name="name" minlength="3" maxlength="50"><br>
  </label>
  <br>
  <label for="">
    Siła <br>
    <input type="number" name="power" value="1" min="1" max="10"><br>
  </label>
  <br>
  <label for="">
    Obrona <br>
    <input type="number" name="defense" value="1" min="1" max="10"><br>
  </label>
  <br>
  <label for="">
    Wytrzymałość <br>
    <input type="number" name="stamina" value="1" min="1" max="10"><br>
  </label>
  <br>
  <label for="">
    Zwinność <br>
    <input type="number" name="agility" value="1" min="1" max="10"><br>
  </label>
  <br>
  <button class="btn" type="submit">Zarejestruj</button>
</form>
