<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Cookie configurator</title>
    <link rel='stylesheet' href='../../public/styles/style.css' />
  </head>
  <body>
    <h1>Cookie configurator app</h1>
    {{{body}}}
    <div>Icons made by
      <a href='https://www.flaticon.com/free-icons/smart-cart' title='smart cart icons'>Smart cart icons created by
        Freepik - Flaticon</a></div>
  </body>
</html>