<div>
  <h2 class="gray-header">Lista Najlepszych Wojowników:</h2>
</div>
<div>
  <table>
    <thead>
    <tr>
      <th>
        Lp.
      </th>
      <th>
        Imię:
      </th>
      <th>
        Zwycięstwa:
      </th>
    </tr>
    </thead>
    <tbody>
    {{#each warriors}}
      <tr>
        <th>
          {{this.place}}
        </th>
        <td>
          {{this.warrior.name}}
        </td>
        <td>
          {{this.warrior.wins}}
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>
