<h2>Wybierz wojowników do starcia</h2>
<form action="/arena/fight" method="post">
  {{> warrior-select select-name="warrior1"}}
  {{> warrior-select select-name="warrior2"}}
  <br>
  <button type="submit">Rozpocznij Walkę!</button>
</form>
