<h2>Gift list</h2>
<ul>
  {{#each giftsList}}
    <li>
      {{this.name}} ({{this.count}} pcs.)
    </li>
  {{/each}}
</ul>

<h2>Add gift to the list</h2>
<form action="/gift" method="post">
  <label>
    Name:
    <input name="name" type="text">
  </label>
  <label>
    quantity [pcs.]:
    <input name="count" type="number">
  </label>
  <button>Add</button>
</form>
