<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Santa Claus list</title>
</head>
<body>
<h1>Santa Claus List</h1>
<ul>
  <li>
    <a href="/child">children</a>
  </li>
  <li>
    <a href="/gift">gifts</a>
  </li>
</ul>
<hr>
{{{body}}}
</body>
</html>